<nav id="editor_menu">
    <ul class="editor_menu">
        <li><a href="/<%= content.uri %>/create">New</a></li>
        <% if (content.uri && content.id) { %>
        <li><a href="/<%= content.uri %>/<%= content.id %>/edit">Edit</a></li>
        <% } %>%>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Help</a></li>
    </ul>
</nav>
