<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <title>Edit </title>
</head>

<body>
<h1>Users</h1>
<h2>List of MLP users</h2>
<ul>
    <% users.forEach(function(user){ %>
        <li><%= user.email %> <%= user.email %></li>
    <% }); %>
</ul>
</body>
</html>
id |            email            |                      encrypted_password                      | reset_password_token | reset_password_sent_at |    remember_created_at     | sign_in_count |     current_sign_in_at     |      last_sign_in_at       | current_sign_in_ip | last_sign_in_ip |         created_at         |         updated_at         | admin
