@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
Page Layout
*/

* {
    box-sizing: inherit;
}
*:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 5%;
    min-height: 100vh;
    font-family: 'Inter', Arial, sans-serif;
    color: #8A91B4;
    background: #F6F8FF;
}
/*@media (max-width: 800px) {*/
/*  body {*/
/*    -webkit-box-orient: vertical;*/
/*    -webkit-box-direction: normal;*/
/*    flex-direction: column;*/
/*  }*/
/*}*/

.page-content {
    margin: 10px 20px;
}


/*
Page Elements
*/

a {
    color: #00B7FF;
}


/* Tables */

table.records {
    border: 1px solid #FFFFFF;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table.records td, table.records th {
    border: 1px solid #FFFFFF;
    padding: 3px 2px;
}
table.records tbody td {
    font-size: 13px;
}
table.records tr:nth-child(even) {
    background: #D0E4F5;
}
table.records thead {
    background: #0B6FA4;
    border-bottom: 5px solid #FFFFFF;
}
table.records thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
}
table.records thead th:first-child {
    border-left: none;
}

table.records tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background: #D0E4F5;
    border-top: 3px solid #444444;
}
table.records tfoot td {
    font-size: 14px;
}


/* Collapsible Containers */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible.content {
    position: absolute;
    width:85%;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

/*
Page Header
*/

header {
    clear: both;
}

header h1 {
    width: 70%;
}

/*
Data Elements
*/

time {
    font-weight: normal;
}

/*
Menus
*/

nav {
    width: auto;
}

/* Main Navigation Menu */

nav.main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0B6FA4;
    width:100%;
    border-radius: 20px;
}

nav.main ul li {
    float: left;
}

nav.main ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

nav.main ul li a:hover {
    background-color: #111111;
}

/* Editor Tool Menu */

nav.editor ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #E1E6F9;
    margin: 5px 20px;
}

nav.editor ul li {
    float: left;
}

nav.editor ul li a {
    display: block;
    color: #888888;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

nav.editor ul li a:hover {
    background-color: #cccccc;
}


/* Breadcrumb Navigation Menu */

nav.breadcrumb ul {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */
nav.breadcrumb ul li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
nav.breadcrumb ul li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
nav.breadcrumb ul li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
nav.breadcrumb ul li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* Use home icon for frontpage link */
nav.breadcrumb ul li a.home {
    content:'\f015';
}

/* UserModel Navigation Menu */

nav.user ul {
    position: absolute;
    top: 0;
    right:0;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

nav.user ul li {
    float: left;
}

nav.user ul li a {
    display: block;
    text-align: center;
    padding: 16px;
    color: white;
    text-decoration: none;
}

nav.user ul li a:hover {
    color: beige;
    text-decoration: none;
}

/*
Forms
*/

/* Add a background color and some padding around the form */
.form.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Fieldset */

fieldset {
    margin: 20px;
    padding: 20px;
    border-color: #8A91B4;
}

fieldset div {
    margin :10px;
    height:100%;
    line-height:2em;
}

fieldset div.buttons {
    margin-top:20px;
    padding: 20px 5px;
    border-top: 1px dotted #444444;
}

/* Labels */

label {
    display: block;
    font-weight: bold;
    padding: 5px;
}
label.checkbox {
    float:right;
}

/* Field Validation errors */

ul.validation {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Display list items side by side */
ul.validation li {
    font-size: small;
    color:crimson;
}

/* Style inputs with type="text", select elements and textareas */

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style inputs with type="text", select elements and textareas */
input[type=number] {
    width: auto; /* auto width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    margin-left: 6px;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style inputs with type="text", select elements and textareas */
input[type=checkbox] {
    width: auto; /* auto width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
}

/* Style inputs with type="text", select elements and textareas */
input[type=date] {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
}

/* Style inputs with type="email", select elements and textareas */
input[type=email], input[type=password] {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    margin: 5px;
    font-family: 'Inter', Arial, sans-serif;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Style disabled submit button */
input[type=submit].disabled, input[type=submit].disabled:hover {
    background-color: #666;
    color: white;
    cursor: default;
}

/* HREF form button */
button {
    margin: 5px;
    font-family: 'Inter', Arial, sans-serif;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
}

button:hover {
    background-color: #9CFF90; /* Green */
    color: #666666;
}

/*
Messages
*/
.msg {
    padding:10px;
    margin:10px 0;

}
.msg:before {
    font-family:FontAwesome;
    font-style:normal;
    font-weight:400;
    speak:none;
    display:inline-block;
    text-decoration:inherit;
    width:1em;
    margin-right:.4em;
    text-align:center;
    font-variant:normal;
    text-transform:none;
    line-height:1em;
    margin-left:.2em;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.msg.info:before {
    content:"\f05a";
}
.msg.success:before {
    content:'\f00c';
}
.msg.warning:before {
    content:'\f071';
}
.msg.error:before {
    content:'\f057';
}
.msg.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.msg.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.msg.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.msg.error {
    color: #D8000C;
    background-color: #FFD2D2;
}

