<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mountain Legacy Project: Explorer</title>
</head>

<body>
<h1>Welcome to the Mountain Legacy Project Explorer</h1>
<h2>About Explorer</h2>
<p>...</p>
<h2>Getting Started</h2>
<p>...</p>
<h2>More Information</h2>
<p>...</p>

</body>
</html>