<!DOCTYPE html>
<html>
<head>
    <%- include('../../../views/partials/head', {title: content.title}); %>
</head>
<body>
<%- include('../../../views/partials/header', {content: content}); %>

<form action="/pet/<%= content.id %>?_method=put" method="post">
    <label>Name: <input type="text" name="pet[name]" value="<%= station.name %>"></label>
    <input type="submit" value="Update">
</form>
</body>
</html>