<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head', {content: content}); %>
</head>
<body>
<%- include('../partials/header', {content: content}); %>
<main>
    <h2>About Explorer</h2>
    <p>...</p>
    <h2>Getting Started</h2>
    <p>...</p>
    <h2>More Information</h2>
    <p>...</p>
</main>
<%- include('../partials/footer', {content: content}); %>
</body>
</html>