<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= station.name %></title>
</head>

<body>
<h1><%= station.name %> <a href="/pet/<%= station.id %>/edit">edit</a></h1>

<p>You are viewing <%= station.name %></p>
</body>
</html>/html>